html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border: 2px solid rgb(83, 83, 83);
}

h1, h2 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 0px;
}

h2 {
  padding-top: auto;
  padding-left: 2px;
  margin-bottom: 10px;
}

#prediction {
  margin: 0px;
}

div {
  clear: both;
}

button {
  margin-top: 15;
}

#controls {
  font-size: x-large;
}
