html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  border: 2px solid rgb(83, 83, 83);
}

h1 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: normal;
}

button {
  margin-top: 15;
}
